doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    link(rel="stylesheet" href="/css/style.css")
body
    div
        div(id="Home")
            p Home Page
        div(id="Login")
            p Login
        div(id="Signup")
            p Signup
        div(id="Parser")
            p Parser
        div(id="Product")
            p Products


script(src='/js/handler.js')
        