doctype html
html(lang="en")
head
   meta(charset="UTF-8")
   meta(http-equiv="X-UA-Compatible" content="IE=edge")
   meta(name="viewport" content="width=device-width, initial-scale=1.0")
   title Parser
   
body
   h1 Parser
   a(href="/parser/start") Start parser
   br
   a(href="/parser/stop") Stop parser
   br
   a(href="/") Home

include ./nav.pug

script(src='/js/handler.js')